{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Product listing</h1>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% if products %}
                {% for product in products %}
                    <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{ product.images.0 }}');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ product.title }}</h2>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-3">
                                        <small>$ {{ product.price }}</small>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <small>{{ product.creationAt|date('Y-m-d') }}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
